#!/usr/bin/env sh

PIXEL_ART_ICONS_DECRYPTION_KEY="$(op read "op://swagLGBT/swagLGBT Pixel Art Icons Encryption Key/secret key")"
PIXEL_ART_ICONS_ENCRYPTION_KEY="$(op read "op://swagLGBT/swagLGBT Pixel Art Icons Encryption Key/public key")"

export PIXEL_ART_ICONS_DECRYPTION_KEY
export PIXEL_ART_ICONS_ENCRYPTION_KEY
