---
import Flag from "../components/Flag.astro";
import Layout from "../layouts/Base.astro";
---

<style>
  h1 {
    font-family: "VT323", monospace;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 5rem;
    margin-top: 0;
  }
</style>

<Layout>
  <div>
    <header>
      <h1>welcome to swagLGBT</h1>
    </header>
    <main>
      <Flag flag="progressPride" animated scale={20} />
    </main>
  </div>
</Layout>
